$primary: #d80f29;
$primaryHover: #b3010d;
$bgColor: #232325;
$bgSec: #5f5f5f;
$bgPrimary: #111112;
$whiteColor: #ffffff;
$headingFamily: "Montserrat";
$peragraphFamily: "Bebas Neue";
$backgroundGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.08) 0%,
  #000000 100%
);
$backgroundGradient2: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.575) 0%,
  #000000 100%
);
