@import "../../../constants/scss/colors.scss";
.container {
  width: 100%;
  display: flex;
  padding: 1rem 5rem 2rem 5rem;
  justify-content: center;
  box-sizing: border-box;
  @media screen and (max-width: 1024px) {
    padding: 2rem 2rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    min-height: 300px;
    align-items: center;
    max-width: 1800px;
    .cardWrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      column-gap: 1rem;
      row-gap: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .loadingHeading {
      margin-top: 2rem;
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      cursor: pointer;
      .ico {
      }
      font-size: 18px;
      color: $primary;
      font-family: $headingFamily;
    }
  }
}
