@import "../../constants/scss/colors.scss";
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 230px;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    label {
      font-family: $peragraphFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      color: $whiteColor;
      @media screen and (max-width: 600px) {
        font-size: 25px;
      }
      span {
        -webkit-text-stroke: 1px $primary;
        color: transparent;
        // color: $primary;
      }
    }
  }
}
