@import "../../../../constants/scss/colors.scss";

.wrapper {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .headingWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-family: $headingFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: $whiteColor;
    }
  }
  table {
    width: 100%;
    min-width: 350px;
    font-family: $headingFamily;

    thead {
      tr {
        th {
          text-align: left;
          height: 40px;
          background-color: $bgPrimary;
          padding: 0 0.5rem;
          color: #e0e0e1;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          height: 55px;
          background-color: $bgColor;
          padding: 0 0.5rem;
          border-bottom: 1px solid $bgPrimary;
          font-size: 14px;
          color: $whiteColor;
          &:nth-child(1) {
            color: #0066cc;
          }
        }
      }
      &:last-child {
        tr {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}
