@import "../../../constants/scss/colors.scss";
.dropDownWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  table {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: left;

    tr {
      font-weight: 400;
      font-size: 16px;
      color: $whiteColor;
      white-space: nowrap;
      font-family: $headingFamily;

      th {
        font-weight: 400;
        font-size: 16px;
        color: $whiteColor;
        height: 50px;
        border-bottom: 0.5px solid gray;
        white-space: nowrap;
        padding: 0 0.5rem;
        box-sizing: border-box;
      }

      td {
        white-space: nowrap;
        box-sizing: border-box;
        height: 50px;
        padding: 0 0.5rem;

        img {
          width: 20px;
          user-select: none;
        }
        &:nth-child(1) {
          display: flex;
          column-gap: 0.5rem;
          align-items: center;
        }
      }

      button {
        cursor: pointer;
        height: 30px;
        padding: 0 1rem;
        color: $whiteColor;
        border: 1px solid $primary;
        background-color: $primary;
      }
    }
  }

  .graphDropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      width: 100%;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    .dropDown {
      width: 20%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .textArea {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      label {
        font-weight: bold;
        font-size: 12px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        display: flex;
        column-gap: 0.5rem;

        img {
          width: 14px;
        }
      }
    }
  }
}
