@import "../../../constants/scss/colors.scss";
.container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /**temp**/
  // margin-top: 7rem;
  margin-top: 1.5rem;
  .tabs {
    width: 100%;
    height: auto;
    min-height: 60vh;
    margin: 0rem auto 1rem;
    padding: 0rem 1rem;
    color: $whiteColor;
    font-weight: 500;
    border-radius: 2rem;
    box-sizing: border-box;
    @media (max-width: 769px) {
      padding: 0.2rem 0 0 0;
    }
    .headingWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        row-gap: 1.5rem;
        margin-bottom: 1rem;
      }
      .heading {
        font-family: $peragraphFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: $whiteColor;
        width: 60%;
        @media screen and (min-width: 900px) and (max-width: 1400px) {
          width: 40%;
        }
        @media screen and (max-width: 900px) {
          width: 100%;
          font-size: 25px;
        }
      }
      .nav {
        width: 40%;
        margin: 0 0 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0rem 0.2rem;
        @media screen and (min-width: 900px) and (max-width: 1400px) {
          width: 60%;
        }
        @media screen and (max-width: 900px) {
          width: 100%;
        }
        li {
          width: 33.3%;
          display: flex;
          text-align: left;
          align-items: center;
          justify-content: flex-start;
          height: 50px;
          list-style: none;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s;
          font-family: $headingFamily;
          border-bottom: 3px solid #cfd0cd;
          color: #a6a8a3;
          font-weight: bold;
          padding: 0;
          @media (max-width: 530px) {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 35px;
            font-size: 0.7rem;
            padding: 0;
          }
          @media (min-width: 530px) and (max-width: 1100px) {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
          }
        }
        li:hover {
          color: $whiteColor;
        }
        li.active {
          color: $primary;
          font-weight: 600;
          border-bottom: 3px solid $primary;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
